 .btn {
    background-color: rgb(43, 42, 51);
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgba(249, 249, 250, 1);
    padding: .35rem 4rem;
  }

  .btn:hover{
    filter: brightness(75%);
    cursor: pointer;
  }