.App {
  width: 100vw;
  background-color: rgb(43, 42, 51);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin: 0 auto;
  width: 90vw;
  background-color: rgb(43, 42, 51);
  padding: 2em;
}

.profile-card {
  font-size: 17px;
  text-align: center;
  padding: .2;
  border-radius: 8px;
  background-color: rgba(66,65,77,1);
  color: rgba(249, 249, 250, 1)
}

.profile__image {
  border-radius:  50%;
  margin: .5em auto;
}
